@import '../../common-style/colors.scss';

.header {
  background-color: $secondary-color;
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    color: $font-primary;
    font-size: 20px;
    font-weight: 600;
  }

  .user-image,
  .user-image svg {
    width: 30px;
    height: 30px;
    color: #fff;
    cursor: pointer;
  }

  form {
    font-size: 16px;
    margin-right: 400px;
    input {
      height: 35px;
      width: 400px;
      border-radius: 10px;
      &:focus {
        outline: none;
      }
    }
    button {
      height: 35px;
      background-color: $primary-color;
      color: $font-primary;
      margin-left: 20px;
      width: 80px;
      border-radius: 10px;
    }
  }
}
